.navbar{
    background: rgb(245, 59, 96);
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar >.logo  a{
    font-size: 40px;
    font-weight: 200;
    color:rgb(41, 36, 36);
   src: url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
   font-family: 'Italianno', cursive;
   text-decoration: none; 
}.navbar >.logo{
    width: 30%;
    height: 100%;
    text-align: left;
}
.navbar>.menu{
    height: 100%;
    width: 60%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.navbar >.menu>li{
    list-style: none;
    display: inline-block;
}
.navbar >.menu> li >.nav-item{
    
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    padding: 17px;
    border-radius: 8px;
    font-family: 'Great Vibes', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=New+Tegomin&display=swap')
    
}
.navbar >.menu >li>.nav-item:hover{
    color:gray;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}