  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');
.skills .title::after{
    content: "what i know";
}
.skills{
    border-top:solid rgb(230, 223, 223);
    margin-bottom: 50px;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
    font-size: 20px;
}

.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 80%;
}
.skills .skills-content .right .java::before{
    width: 80%;
}
.skills .skills-content .right .js::before{
    width: 40%;
}
.skills .skills-content .right .python::before{
    width: 70%;
}.skills .skills-content .right .C::before{
    width: 50%;
}

.icom{
    padding: 10px;
}
.i{
font-size: 30px;
padding: 5px;
color: crimson;
}
.i:hover{
    background-color: crimson;
    color: white;
    border-radius: 15px;
}